@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .glass {
    backdrop-blur: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
}
